nextflow.enable.dsl=2

dag.overwrite = true

params {
	outdir = "results"
	reference_genome = "null"
    	reference_fasta = "null"
    	fqs_sr = "null"
    	fqs_pe = "null"
    	bams = "null"
    	fq_samples = "null"
    	bam_samples = "null"
	chrlengthfile = "null"
	cellmarkfiletable = "null"
	numstates = "null"
	GENOME_INDICES = [
		'tair10': [
		index: "library://elin.axelsson/index/index_bowtie2_tair10:v2.4.1-release-47",
		description: "Arabidopsis thaliana TAIR10"
    		],
    		'mptak': [
        	index: "library://elin.axelsson/index/index_bowtie2_mptak:v2.4.1-v5.1_r2",
        	description: "Marchantia polymorpha Tak-1"
    		],
    		'grcm38': [
        	index: "library://elin.axelsson/index/index_bowtie2_grcm38:v2.4.1-ncbirefseq",
        	description: "Mus musculus GRCm38"
    		]
	]
}

profiles {
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        errorStrategy = 'finish'
	}	

    test_local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = 'simgs/cache'
    }
}

process {
	
	withName: 'create_bowtie2_index' {
        module = 'bowtie2/2.3.5.1-foss-2018b'
	memory = 64.GB
	cpus = 8
	time = '4h'
        }
	
	withName: 'Bam2Fastq|Sam2Bam|index_rmdup' {
	container = 'library://elin.axelsson/software/sam_bed_tools:v1.9_2.28.0'
	memory = 64.GB
        cpus = 8
        time = '4h'
        }	

	withName: 'FASTQC|TrimAdaptors' {
	container = 'library://elin.axelsson/software/fastqc_cutadapt_galore:v0.11.5_2.10_0.6.5'
	memory = 64.GB
        cpus = 8
        time = '4h'
	}

	withName: 'Bowtie2Alignment' {
	container = 'library://default/pipeline/bowtie2:v2.4.1'
	memory = 64.GB
        cpus = 8
        time = '4h'
	}

	withName: 'rmdup' {
	container = 'docker://broadinstitute/picard:2.22.8'
	memory = 64.GB
        cpus = 8
        time = '4h'
        }

	withName: 'bamCompare|computeMatrix|plotHeatmap' {
	container = 'library://elin.axelsson/software/deeptools:v3.1.2'
	memory = 64.GB
        cpus = 8
        time = '4h'
        }

	withName: 'binarize|learnmodel|comparemodels|overlapenrichment|NeighbourhoodEnrichment|EvalSubset' {
	container = 'library://elin.axelsson/software/chromhmm:1.23'
	memory = 10.GB
	cpus = 4
	time = '4h'
	}
}
